* {
  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1090cb;
  }
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-bottom: 0.7px solid #c4c4c4;
}

.nav_bar ul {
  display: flex;
  gap: 83px;
  width: 890px;
  justify-content: end;
  margin-top: 15px;
}

.nav_bar h1 {
  font-size: 29px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  color: #1090cb;
  margin-top: 5px;
}

.nav_bar ul a {
  text-decoration: none;
  color: #000;
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 400;
}

.active {
  color: #1090cb !important;
  display: flex;
}

.active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #08d3bb;
}

.contact {
  text-decoration: none;
  background-color: var(--fontColor);
  border: none;
  width: 125px;
  height: 41px;
  border-radius: 6px;
  padding: 15px 26px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--fontFamily);
  transition: all 0.3s;
}

.contact:hover {
  transform: scale(0.9);
}

/** section_1 */

.hero_section {
  height: 743px;
  background-color: #1090cb1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 71px;
  margin-bottom: 249px;
}

.speaker {
  width: 440px;
  height: 331px;
  margin-top: 78px;
}

.speaker img {
  margin-left: 150px;
}

.speaker h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-top: 22px;
  margin-bottom: 18px;
  text-align: center;
}

.speaker span {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--fontFamily);
  color: #1090cb;
}
.speaker p {
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  line-height: 31.5px;
  color: #696969;
  text-align: center;
}

.applications {
  background-color: #fff;
  width: 1203px;
  height: 441px;
  box-shadow: 0px 4px 114px 0px #00000017;
  margin-top: 30px;  
}

.flex {
  display: flex;
  gap: 98px;
  margin: 64px 82px 84px 62px;
}

.box_1 {
  display: flex;
  gap: 39px;
  margin-bottom: 75px;
}
.box_2 {
  display: flex;
  gap: 39px;
}
.box_3 {
  display: flex;
  gap: 39px;
  margin-bottom: 76px;
}
.box_4 {
  display: flex;
  gap: 39px;
}

.box_1 img {
  background-color: #f1e8ff;
  padding: 25px 34px;
  border-radius: 20px;
}

.box_2 img {
  background-color: #e2f3ff;
  padding: 25px;
  border-radius: 20px;
}

.box_3 img {
  background-color: #fff2f2;
  padding: 25px;
  border-radius: 20px;
}

.box_4 img {
  background-color: #ffe7fb;
  padding: 25px 29px;
  border-radius: 20px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
}

.ul :nth-child(1) {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--fontFamily);
}

.ul :nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.64px;
  font-family: var(--fontFamily);
  color: #797979;
}

/*^ section_2 */

.section_2 {
  display: flex;
  width: 1301px;
  height: 509px;
    margin-left: 157px;
}



.text_box h3 {
  width: 516px;
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  font-family: var(--fontFamily);

}

.text_box p {
  width: 476px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  color: #545454;
  font-family: var(--fontFamily);
  margin-top: 56px;
  margin-bottom: 36px;
}

.text_box button {
  border: 1px solid #1090cb;
  background-color: #fff;
  border-radius: 10px;
  padding: 9px 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  font-family: var(--fontFamily);
  color: #1090cb;
  cursor: pointer;
}

/*! section_3 */

.section_3 {
  height: 388px;
  background-color: #1090cb;
  color: #fff;
  margin: 180px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  position: relative;
  }



.section_3 ul :nth-child(1) {
  font-size: 65px;
  font-weight: 600;
  font-family: var(--fontFamily);
  text-align: center;
}

.section_3 ul :nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 8px;
}

.position :nth-child(1) {
position: absolute;
left: 90px;
top: -110px;
}

.position :nth-child(2) {
position: absolute;
left: -42px;
bottom: -22px;

}

.position :nth-child(3) {
position: absolute;
right: 270px;
bottom: 340px;
}

.position :nth-child(4) {
position: absolute;
right: 280px;
top: -72px;
}

.position :nth-child(5) {
position: absolute;
left: 270px;
bottom: -48px;
}

/* section_4 */

.section_4 {
  margin-left: 179px;
  width: max-content;
  
}

.section_4 h4 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-bottom: 63px;
}

.lcr {
  display: flex;
  gap: 84px;
  
}

.lcr ul :nth-child(1) {
  width: 333px;
  font-size: 23px;
  font-weight: 600;
  line-height: 40.92px;
  font-family: var(--fontFamily);
  margin-top: 40px;
  margin-bottom: 23px;
}

.lcr ul :nth-child(2) {
  width: 333px;
  font-size: 16px;
  font-weight: 400;
  line-height: 33.74px;
  color: #424242;
  font-family: var(--fontFamily);
}

/* section_5 */

.section_5 {
  width: 100%;
  height: 534px;
  margin-top: 87px;
  background-color: #e8f4fa;
  position: relative;
}

.section_5 p {
  font-size: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-align: center;
  width: 516px;
  height: 91px;
  line-height: 51px;
  margin-left: 90px;
}
.section_5 input {
  width: 496px;
  height: 67px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding-left: 36px;
}

.section_5 button {
  background-color: #000;
  border-radius: 10px;
  width: 173px;
  height: 67px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.flex {
  display: flex;
  gap: 14px;
}

.textarea {
  width: 719px;
  height: 238px;
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 148px;
}

.star_pai :nth-child(1) {
  position: absolute;
  left: 167px;
  bottom: 490.4px;
}

.star_pai :nth-child(2) {
  position: absolute;
  right: 397px;
  bottom: 386px;
}

/** section_6 */

.section_6 {
  width: 100%;
  height: 168px;
  margin-top: 67px;
}

.last_text {
  display: flex;
  width: 1219px;
  height: 161px;
  margin-left: 101px;
}

.cover1 :nth-child(1) {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #00329b;
  margin-bottom: 27px;
}

.cover1 :nth-child(2) {
  width: 372px;
  height: 58px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #515151;
  margin-bottom: 25px;
}

.cover1 :nth-child(3) {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #515151;
}

.cover2 {
  margin: 0px 144px 0px 0px;
}

.cover2 p {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-bottom: 27px;
}

.cover2 ul {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #515151;
  line-height: 27px;
}

.cover3 :nth-child(1) {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-bottom: 27px;
}

.cover3 :nth-child(2) {
  width: 282px;
  height: 76px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #515151;
  margin-bottom: 11px;
}

.cover3 :nth-child(3) {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #515151;
}

.logos {
  display: flex;
  gap: 16px;
  margin: 117px 0px 63px 149px;
}

.socials {
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px #00000026;
  padding: 11px;
  border-radius: 99%;
  width: 34px;
  height: 34px;
  padding: 11px;
}

.copyright {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #686868;
  margin-top: 82px;
  padding-bottom: 27px;
  text-align: center;
  border-top: 0.8px solid #d2d2d2;
  padding-top: 29px;
}